# Node / Next.js
node_modules
.next
out
dist

# Git
.git
.gitignore

# Environment
.env
.env.*
npm-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea

# Docker
docker-compose.yml
Dockerfile
